# Let me listen to the music

# Content <a id='back'></a>

* [Introduction](#intro)
* [Stage 1. Data Description](#data_review)
    * [Conclusions](#data_review_conclusions)
* [Stage 2. Data Preprocessing](#data_preprocessing)
    * [2.1 Header Style](#header_style)
    * [2.2 Missing Values](#missing_values)
    * [2.3 Duplicates](#duplicates)
    * [2.4 Conclusions](#data_preprocessing_conclusions)
* [Stage 3. Hypothesis Testing](#hypothesis)
    * [3.1 Hypothesis 1: User Activity in Two Cities](#activity)
* [Conclusions](#end)

## Introduction <a id='intro'></a>
As a data analyst, your job is to analyze data to extract valuable information and make decisions based on it. This involves different stages, such as data description, preprocessing, and hypothesis testing.

Whenever we investigate, we need to formulate hypotheses that we can later test. Sometimes we accept these hypotheses; other times, we reject them. To make the right decisions, a company must be able to understand whether it is making the right assumptions.

In this project, you will compare the musical preferences of the cities of Springfield and Shelbyville. You will study real online music streaming data to test the hypothesis below and compare the behavior of users in these two cities.

### Objective:
Test the hypothesis:
1. User activity differs by day of the week and city.

### Stages
The user behavior data is stored in the file `/datasets/music_project_en.csv`. There is no information about the data quality, so you will need to examine it before testing the hypothesis.

First, you will assess the data quality and see if the issues are significant. Then, during data preprocessing, you will address the most critical problems.

Your project will consist of three stages:
 1. Data Description.
 2. Data Preprocessing.
 3. Hypothesis Testing.

[Back to Contents](#back)

## Stage 1. Data Description <a id='data_review'></a>

Open the data and examine it.

You will need `pandas`, so import it.

In [4]:
import pandas as pd # Import pandas

Read the file `music_project_en.csv` and store it in the variable `df`:

In [5]:
df = pd.read_csv ('/datasets/music_project_en.csv') # Read the file and store it in df

Display the first 10 rows of the table:

In [7]:
df.head(10) # Get the first 10 rows of the df table

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L’estate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

Get the general information about the table with a command. You know the method that shows the general information we need.

In [5]:
print (df.info()) # Get the general information about our data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB
None

These are our observations about the table. It contains seven columns. They store the same data types: `object`.

According to the documentation:
- `'userID'`: user ID;
- `'Track'`: song title;
- `'artist'`: artist name;
- `'genre'`: track genre;
- `'City'`: city of the user;
- `'time'`: exact time the song was played;
- `'Day'`: day of the week.

We can see three issues with the header style in the table:
1. Some headers are in uppercase, others are in lowercase.
2. There are spaces in some headers.
3. In the `'userID'` header, word union is not used correctly, and there is an unnecessary capital letter. `Detect the third issue on your own and describe it here.`

### Write your own observations. These are some questions that may be helpful: <a id='data_review_conclusions'></a>

1.  `What type of data do we have in the rows? And how can we understand what the columns store?`  
    A/ The data is of string type, determined by dtype.

2.  `Is there enough data to provide answers to our hypothesis, or do we need more information?`  
    A/ The information provided is sufficient for some calculations; however, expanding it would be much better.

3.  `Did you notice any issues with the data, such as missing values, duplicates, or incorrect data types?`  
    A/ Yes, there are missing values in 'Track' (1343), 'artist' (7567), and 'genre' (1198). There are also duplicate values, totaling 3826.

[Back to Contents](#back)

## Stage 2. Data Preprocessing <a id='data_preprocessing'></a>

The goal here is to prepare the data for analysis.
The first step is to resolve any issues with the headers. Then, we can move on to missing and duplicate values. Let's begin.

Fix the format of the table headers.

### Header Style <a id='header_style'></a>
Display the headers of the table (column names):

In [6]:
print (df.columns)# Display the column names

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

Change the table headers according to good style rules:
* All characters must be lowercase.
* Remove the spaces.
* If the name has multiple words, use snake_case.

Previously, you learned about the automatic way of renaming columns. Let's apply it now. Use a for loop to iterate over the column names and make all characters lowercase. When you're done, display the table headers again:

In [7]:
# Loop through the headers and make everything lowercase

new_col_columns = []

for old_name in df.columns :
    name_lowered = old_name.lower ()
    new_col_columns.append (name_lowered)
    
df.columns = new_col_columns

print (new_col_columns)

['  userid', 'track', 'artist', 'genre', '  city  ', 'time', 'day']

Now, using the same method, remove the spaces at the beginning and end of the column names, and print the column names again:

In [8]:
# Loop through the headers and remove the spaces

new_col_columns = []

for old_name in df.columns :
    name_stripped = old_name.strip ()
    new_col_columns.append (name_stripped)
    
df.columns = new_col_columns
    
print (new_col_columns)

['userid', 'track', 'artist', 'genre', 'city', 'time', 'day']

We need to apply the snake_case rule to the `userid` column. It should be `user_id`. Change the name of this column and display the names of all columns when you're done.

In [9]:
# Change the name of the "userid" column

new_col_names = []

for old_name in df.columns :
    name_no_spaces = old_name.replace ('userid','user_id')
    new_col_names.append (name_no_spaces)
    
df.columns = new_col_names

print (new_col_names)

['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day']

Check the result. Display the headers once more:

In [10]:
# Check the result: the list of headers
print (new_col_names)

['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day']

[Back to Contents](#back)

### Missing Values <a id='missing_values'></a>
First, find the number of missing values in the table. You should use two methods in sequence to get the number of missing values.

In [11]:
# Calculate the number of missing values
print (df.isna().sum())

user_id       0
track      1343
artist     7567
genre      1198
city          0
time          0
day           0
dtype: int64

Not all missing values affect the research. For example, missing values in `track` and `artist` are not crucial. You can simply replace them with default values like the string `'unknown'`.

However, missing values in `'genre'` can affect the comparison between the musical preferences of Springfield and Shelbyville. In real life, it would be useful to know the reasons why there is missing data and try to recover it. But we don't have that opportunity in this project. So, you will need to:
* fill these missing values with a default value;
* evaluate how much the missing values could affect your computations;

Replace the missing values in the columns `'track'`, `'artist'`, and `'genre'` with the string `'unknown'`. As we showed earlier in the lessons, the best way to do this is to create a list that stores the names of the columns where replacement is needed. Then, use this list and iterate over the columns where the replacement is needed, performing the replacement.

In [12]:
# Loop through the columns replacing missing values with 'unknown'

columns_to_replace = ['track','artist','genre']

for col in columns_to_replace :
    df [col].fillna ('unknow', inplace = True)
    
print (df.isna().sum())

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

Now, check the result to ensure that there are no missing values in the dataset after the replacement. To do this, count the missing values again.

In [13]:
# Count missing values
print (df.isna().sum())

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

[Back to Contents](#back)

### Duplicates <a id='duplicates'></a>
Find the number of explicit duplicates in the table. Once again, you should apply two methods in sequence to get the number of explicit duplicates.

In [14]:
# Count explicit duplicates
print (df.duplicated().sum())

3826

Now, remove all the duplicates. To do this, call the method that does exactly that.

In [15]:
# Remove explicit duplicates
df.drop_duplicates(inplace = True)
print (df.duplicated().sum())

0

Now, let's check if we successfully removed all the duplicates. Count the explicit duplicates once again to make sure all have been removed.

In [16]:
# Check again for duplicates

print (df.duplicated().sum())

0

Now, we want to get rid of implicit duplicates in the `genre` column. For example, the name of a genre may be written in different ways. Such errors can also affect the outcome.

To do this, first let's display a list of unique genre names, sorted alphabetically. To do so:
* Extract the `genre` column from the DataFrame.
* Call the method that will return all the unique values in the extracted column.

In [21]:
# Inspect the unique genre names
print (df['genre'].unique())
print ()
print (df['genre'].nunique())

['rock' 'pop' 'folk' 'dance' 'rusrap' 'ruspop' 'world' 'electronic' nan
 'alternative' 'children' 'rnb' 'hip' 'jazz' 'postrock' 'latin'
 'classical' 'metal' 'reggae' 'triphop' 'blues' 'instrumental' 'rusrock'
 'dnb' 'türk' 'post' 'country' 'psychedelic' 'conjazz' 'indie'
 'posthardcore' 'local' 'avantgarde' 'punk' 'videogame' 'techno' 'house'
 'christmas' 'melodic' 'caucasian' 'reggaeton' 'soundtrack' 'singer' 'ska'
 'salsa' 'ambient' 'film' 'western' 'rap' 'beats' "hard'n'heavy"
 'progmetal' 'minimal' 'tropical' 'contemporary' 'new' 'soul' 'holiday'
 'german' 'jpop' 'spiritual' 'urban' 'gospel' 'nujazz' 'folkmetal'
 'trance' 'miscellaneous' 'anime' 'hardcore' 'progressive' 'korean'
 'numetal' 'vocal' 'estrada' 'tango' 'loungeelectronic' 'classicmetal'
 'dubstep' 'club' 'deep' 'southern' 'black' 'folkrock' 'fitness' 'french'
 'disco' 'religious' 'hiphop' 'drum' 'extrememetal' 'türkçe'
 'experimental' 'easy' 'metalcore' 'modern' 'argentinetango' 'old' 'swing'
 'breaks' 'eurofolk' 'stonerrock' 'industrial' 'funk' 'middle' 'variété'
 'other' 'adult' 'christian' 'thrash' 'gothic' 'international' 'muslim'
 'relax' 'schlager' 'caribbean' 'nu' 'breakbeat' 'comedy' 'chill' 'newage'
 'specialty' 'uzbek' 'k-pop' 'balkan' 'chinese' 'meditative' 'dub' 'power'
 'death' 'grime' 'arabesk' 'romance' 'flamenco' 'leftfield' 'european'
 'tech' 'newwave' 'dancehall' 'mpb' 'piano' 'top' 'bigroom' 'opera'
 'celtic' 'tradjazz' 'acoustic' 'epicmetal' 'hip-hop' 'historisch'
 'downbeat' 'downtempo' 'africa' 'audiobook' 'jewish' 'sängerportrait'
 'deutschrock' 'eastern' 'action' 'future' 'electropop' 'folklore'
 'bollywood' 'marschmusik' 'rnr' 'karaoke' 'indian' 'rancheras'
 'afrikaans' 'rhythm' 'sound' 'deutschspr' 'trip' 'lovers' 'choral'
 'dancepop' 'retro' 'smooth' 'mexican' 'brazilian' 'ïîï' 'mood' 'surf'
 'gangsta' 'inspirational' 'idm' 'ethnic' 'bluegrass' 'broadway'
 'animated' 'americana' 'karadeniz' 'rockabilly' 'colombian' 'self' 'hop'
 'sertanejo' 'japanese' 'canzone' 'lounge' 'sport' 'ragga' 'traditional'
 'gitarre' 'frankreich' 'emo' 'laiko' 'cantopop' 'glitch' 'documentary'
 'oceania' 'popeurodance' 'dark' 'vi' 'grunge' 'hardstyle' 'samba'
 'garage' 'art' 'folktronica' 'entehno' 'mediterranean' 'chamber' 'cuban'
 'taraftar' 'gypsy' 'hardtechno' 'shoegazing' 'bossa' 'latino' 'worldbeat'
 'malaysian' 'baile' 'ghazal' 'arabic' 'popelectronic' 'acid' 'kayokyoku'
 'neoklassik' 'tribal' 'tanzorchester' 'native' 'independent' 'cantautori'
 'handsup' 'punjabi' 'synthpop' 'rave' 'französisch' 'quebecois' 'speech'
 'soulful' 'jam' 'ram' 'horror' 'orchestral' 'neue' 'roots' 'slow'
 'jungle' 'indipop' 'axé' 'fado' 'showtunes' 'arena' 'irish' 'mandopop'
 'forró' 'dirty' 'regional']

268

Search the list to find implicit duplicates of the genre `hiphop`. These may be incorrectly written names or alternative names for the same genre.

You will see the following implicit duplicates:
* `hip`
* `hop`
* `hip-hop`

To get rid of them, create a function called `replace_wrong_genres()` with two parameters:
* `wrong_genres=`: this is a list containing all the values that need to be replaced.
* `correct_genre=`: this is a string that will be used as the replacement.

As a result, the function should correct the names in the `'genre'` column of the `df` table, meaning it should replace each value in the `wrong_genres` list with the value in `correct_genre`.

Within the function body, use a `for` loop to iterate over the list of incorrect genres, extract the `'genre'` column, and apply the `replace` method to make the corrections.

In [18]:
# Function to replace implicit duplicates

def replace_wrong_genres (df,column,wrong_genres,correct_genre):
    for wrong_genre in wrong_genres :
        df[column] = df[column].replace (wrong_genre, correct_genre)
    return df

Now, call `replace_wrong_genres()` and pass it such arguments that will remove the implicit duplicates (`hip`, `hop`, and `hip-hop`) and replace them with `hiphop`:

In [19]:
# Remove implicit duplicates
duplicates = ['hip','hop','hip-hop']
name = 'hiphop'
df = replace_wrong_genres (df,'genre', duplicates, name)

Make sure that the duplicate names have been removed. Display the list of unique values in the `'genre'` column once again:

In [17]:
# Checking for implicit duplicates

print (df['genre'].unique())
print ()
print (df['genre'].nunique())

['rock' 'pop' 'folk' 'dance' 'rusrap' 'ruspop' 'world' 'electronic' nan
 'alternative' 'children' 'rnb' 'hip' 'jazz' 'postrock' 'latin'
 'classical' 'metal' 'reggae' 'triphop' 'blues' 'instrumental' 'rusrock'
 'dnb' 'türk' 'post' 'country' 'psychedelic' 'conjazz' 'indie'
 'posthardcore' 'local' 'avantgarde' 'punk' 'videogame' 'techno' 'house'
 'christmas' 'melodic' 'caucasian' 'reggaeton' 'soundtrack' 'singer' 'ska'
 'salsa' 'ambient' 'film' 'western' 'rap' 'beats' "hard'n'heavy"
 'progmetal' 'minimal' 'tropical' 'contemporary' 'new' 'soul' 'holiday'
 'german' 'jpop' 'spiritual' 'urban' 'gospel' 'nujazz' 'folkmetal'
 'trance' 'miscellaneous' 'anime' 'hardcore' 'progressive' 'korean'
 'numetal' 'vocal' 'estrada' 'tango' 'loungeelectronic' 'classicmetal'
 'dubstep' 'club' 'deep' 'southern' 'black' 'folkrock' 'fitness' 'french'
 'disco' 'religious' 'hiphop' 'drum' 'extrememetal' 'türkçe'
 'experimental' 'easy' 'metalcore' 'modern' 'argentinetango' 'old' 'swing'
 'breaks' 'eurofolk' 'stonerrock' 'industrial' 'funk' 'middle' 'variété'
 'other' 'adult' 'christian' 'thrash' 'gothic' 'international' 'muslim'
 'relax' 'schlager' 'caribbean' 'nu' 'breakbeat' 'comedy' 'chill' 'newage'
 'specialty' 'uzbek' 'k-pop' 'balkan' 'chinese' 'meditative' 'dub' 'power'
 'death' 'grime' 'arabesk' 'romance' 'flamenco' 'leftfield' 'european'
 'tech' 'newwave' 'dancehall' 'mpb' 'piano' 'top' 'bigroom' 'opera'
 'celtic' 'tradjazz' 'acoustic' 'epicmetal' 'hip-hop' 'historisch'
 'downbeat' 'downtempo' 'africa' 'audiobook' 'jewish' 'sängerportrait'
 'deutschrock' 'eastern' 'action' 'future' 'electropop' 'folklore'
 'bollywood' 'marschmusik' 'rnr' 'karaoke' 'indian' 'rancheras'
 'afrikaans' 'rhythm' 'sound' 'deutschspr' 'trip' 'lovers' 'choral'
 'dancepop' 'retro' 'smooth' 'mexican' 'brazilian' 'ïîï' 'mood' 'surf'
 'gangsta' 'inspirational' 'idm' 'ethnic' 'bluegrass' 'broadway'
 'animated' 'americana' 'karadeniz' 'rockabilly' 'colombian' 'self' 'hop'
 'sertanejo' 'japanese' 'canzone' 'lounge' 'sport' 'ragga' 'traditional'
 'gitarre' 'frankreich' 'emo' 'laiko' 'cantopop' 'glitch' 'documentary'
 'oceania' 'popeurodance' 'dark' 'vi' 'grunge' 'hardstyle' 'samba'
 'garage' 'art' 'folktronica' 'entehno' 'mediterranean' 'chamber' 'cuban'
 'taraftar' 'gypsy' 'hardtechno' 'shoegazing' 'bossa' 'latino' 'worldbeat'
 'malaysian' 'baile' 'ghazal' 'arabic' 'popelectronic' 'acid' 'kayokyoku'
 'neoklassik' 'tribal' 'tanzorchester' 'native' 'independent' 'cantautori'
 'handsup' 'punjabi' 'synthpop' 'rave' 'französisch' 'quebecois' 'speech'
 'soulful' 'jam' 'ram' 'horror' 'orchestral' 'neue' 'roots' 'slow'
 'jungle' 'indipop' 'axé' 'fado' 'showtunes' 'arena' 'irish' 'mandopop'
 'forró' 'dirty' 'regional']

268

[Back to Contents](#back)

### Your observations <a id='data_preprocessing_conclusions'></a>

`Briefly describe what you noticed when analyzing duplicates, how you addressed their removal, and what results you obtained.`  
A/ It is complex to determine which values are duplicated when there is a large amount of data in a single column. For example, in the case of "hiphop", if there are 1000 entries in the same column and 230 are duplicates, how can we easily identify which ones are or which they are? The removal method using functions is very useful because, with little code and less complexity in the description, it allows us to simplify the amount of data for analysis. However, I am not very satisfied with the result, as I would like to have a clearer comparison between the original table with duplicated data and the new one with the duplicates removed.

[Back to Contents](#back)

## Stage 3. Hypothesis Testing <a id='hypothesis'></a>

### Hypothesis: compare user behavior in the two cities <a id='activity'></a>

The hypothesis states that there are differences in the way users in Springfield and Shelbyville consume music. To test this, we will use data from three days of the week: Monday, Wednesday, and Friday.

* Group users by city.
* Compare the number of songs each group played on Monday, Wednesday, and Friday.

Perform each calculation separately.

The first step is to evaluate user activity in each city. Remember the divide-apply-combine stages we discussed earlier in the lesson. Your goal now is to group the data by city, apply the appropriate method to count during the apply stage, and then find the number of songs played in each group by specifying the column to get the count.

Below is an example of what the final result should look like:
`df.groupby(by='....')['column'].method()`

Perform each calculation separately.

To evaluate the activity of users in each city, group the data by city and find the number of songs played in each group.

`Comment your observations here`

R/ It is a very good methodology to apply the 3 steps to segment and categorize the data in order to reach a clearer conclusion. It can be observed that in Springfield, there is a higher number of song plays across the three days compared to Shelbyville, surpassing it by double.

In [21]:
# Count the songs played in each city

print(df.groupby(by='city')['day'].count())

city
Shelbyville    18512
Springfield    42741
Name: day, dtype: int64

Now let's group the data by day of the week and find the number of songs played on Monday, Wednesday, and Friday. Use the same method as before, but now we need a different grouping.

In [56]:
# Calculate the number of songs played on each of the three days
print(df.groupby(by='day')['city'].count())

day
Friday       21840
Monday       21354
Wednesday    18059
Name: city, dtype: int64

# Comment your observations here
R/ The day with the highest number of plays is Friday, although Tuesday is not far behind, which indicates that weekends (at the start and end of the workday) show the highest increase in plays.

Now you know how to count entries by grouping them by city or day. Now, you need to write a function that can count entries based on both criteria simultaneously.

Create the function `number_tracks()` to calculate the number of songs played on a given day **and** city. The function should accept two parameters:

- `day`: a day of the week to filter by. For example, `'Monday'`.
- `city`: a city to filter by. For example, `'Springfield'`.

Inside the function, you will apply consecutive filtering with logical indexing.

First, filter the data by day and then filter the resulting table by city.

After filtering the data by two criteria, count the number of values in the 'user_id' column in the resulting table. This count represents the number of entries you're looking for. Save the result in a new variable and return it from the function.

In [25]:
# Declare the function number_tracks() with two parameters: day= and city=.
# Store the rows of the DataFrame where the value in the 'day' column equals the parameter day=
# Filter the rows where the value in the 'city' column equals the parameter city=
# Extract the 'user_id' column from the filtered table and apply the count() method
# Return the number of values in the 'user_id' column

def number_tracks (day,city):
    df_filtered = df[df['day']==day]
    df_filtered = df_filtered[df_filtered['city']==city]
    df_filtered = df_filtered['user_id'].count()
    return df_filtered

Call `number_tracks()` six times, changing the parameter values to retrieve data from both cities for each of the three days.

In [27]:
# The number of songs played in Springfield on Monday

df_filtered = number_tracks ('Monday','Springfield') 

print(df_filtered)

15740

In [28]:
# The number of songs played in Shelbyville on Monday
df_filtered = number_tracks ('Monday','Shelbyville') 

print(df_filtered)

5895

In [30]:
# The number of songs played in Springfield on Wednesday
df_filtered = number_tracks ('Wednesday','Springfield') 

print(df_filtered)

11056

In [31]:
# The number of songs played in Shelbyville on Wednesday
df_filtered = number_tracks ('Wednesday','Shelbyville') 

print(df_filtered)

7003

In [32]:
# The number of songs played in Springfield on Friday
df_filtered = number_tracks ('Friday','Springfield') 

print(df_filtered)

15945

In [33]:
# The number of songs played in Shelbyville on Friday
df_filtered = number_tracks ('Friday','Shelbyville') 

print(df_filtered)

5895

## **Conclusions**

Comment on whether the hypothesis is correct or should be rejected. Explain your reasoning.

**Hypothesis**: User activity differs depending on the day of the week and the city.

**Response**: Yes, the hypothesis is correct according to the study, which indicates that Springfield is the city with the highest number of plays, with considerable increases on Fridays and Mondays. Possible reasons for this trend might include leisure activities in nightclubs, bars, restaurants, and other venues on Fridays, as well as workplace or radio station usage on Mondays to liven up the start of the workweek. However, more information would be required to validate these hypotheses further. Additionally, factors such as population density and city size should be considered to make the study more objective and robust.

[Back to Contents](#back)

# Final Conclusions <a id='end'></a>

**Summarize your conclusions about the hypothesis.**

**Response**: The hypothesis is correct. To complement the study, more information is needed, but with the data provided, this is a good starting point for identifying the day and city with the highest activity.

### Note

In real research projects, statistical hypothesis testing is more precise and quantitative. Also, keep in mind that conclusions about an entire city cannot always be drawn from data from a single source.

You will learn more about hypothesis testing in the data statistical analysis sprint.

[Back to Contents](#back)